html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.countdownContainer {
    border: 10px dashed #A2C4C9;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 400px;
}

.countdown-text {
    font-size: 24px;
    margin: 10px 0;
}

.countdown {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.title {
    text-align: center;
}

.iconAdd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giveBorder {
    display: inline-block;
    border: 5px dashed #A2C4C9;
    padding: 5px;
    font-size: 20px;
}