html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.countdown-container {
    text-align: center;
    margin-top: 50px; /* Adjust the margin as needed */
}

.countdown-text {
    font-size: 24px; /* Adjust the font size as needed */
    margin: 10px 0;
}

.countdown {
    font-size: 36px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
}