@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to the countdown of my special days</h3>
    <p>Here I'm learning to build a countdown timer to some of my special days, like the New Year, my birthday and also Ramadhan!</p>
    <p>I'm building the app using ASP.Net Web Form. Some of the tutorial I found, were still using aspx file extension, </p>
    <p>so I'm trying to create it using the updated Razor pages with some modifications. The app will be using JavaScript client-side for countdown functionality.</p>

    <br>
    <br>
    <br>

    <p>Click on Countdown tab to find the countdown timers!</p>

    <br>
    <br>
    <br>
    <br>

    <p>Made by Adel</p>
</div>

